<?php
$debug = true;
?>
<style>
.error_block{
	position: relative;
	width: 607px;
	height: 607px;
	margin-left: auto;
	margin-right: auto;
	border: 10px solid white;
	margin-top: 15px;
	margin-bottom: 40px;
	
	background: url(/img/404.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
	background-position: center center;

}

.error_text{
	text-align: center;
}
</style>

<?php if($debug) { ?>
<div style='margin-left: auto; margin-right: auto; width: 1160px;' id='error'>
	 <h1>An error occurred</h1>
	<h2>
	<?php echo $this->message ?>
	</h2>

	<?php if (isset($this->exception)): ?>

	<h3>Exception information:</h3>
	<p>
		<b>Message:</b>
		<?php echo $this->exception->getMessage() ?>
	</p>

	<h3>Stack trace:</h3>
	<pre>
	<?php echo $this->exception->getTraceAsString() ?>
  </pre>

	<h3>Request Parameters:</h3>
	<pre>
	<?php echo $this->escape(var_export($this->request->getParams(), true)) ?>
  </pre>

  <?php endif ?>
</div>
<?php } else { ?>
<div class='error_block'>
	<div class='error_text'>
		<h3>A página que procura não foi encontrada. </h3>
		<h4>Tente outras páginas.</h4>
	</div>	 
</div>
<?php } ?>